
body {
    background: #19191B;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    width: 10%;
}

.navbar__list {
    display: flex;
    list-style-type: none;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: 18px;
}
.list__item a {
    text-decoration: none;
    color: white;
}

.navbar__input {
    width: 15%;
    height: 25px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__block_left {
    width: 40%;
}
.header__title_left {
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    margin-bottom: 0;
    line-height: 1;
}
.header__desc_left {
    font-size: 21px;
}

.header__btn {
    width: 35%;
    height: 60px;
    background-color: #5454D4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.header__block_right {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}
.vector {
    position: absolute;
}
#vector_1 {
    top: 124px;
    left: -88px;
}
#vector_2 {
    top: 77px;
    right: 50px;
}
#vector_3 {
    bottom: 30px;
    left: -130px;
}
#vector_4 {
    bottom: 50px;
    right: 40px;
}
.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__title_maim {
    font-size: 60px;
    font-weight: 700;
    width: 50%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 120px 0 50px;
}
.services__list {
    display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.services__item {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    margin-bottom: 24px;
    text-align: center;
}
.services__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: o;
}
.services__desc {
    font-size: 20px;
    
}
.portfolio__title {
    font-size: 58px;
    font-weight: 800;
}
.portfolio__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    padding: 0;

}
.portfolio__item {
    background: #1e1e20;
    border-radius: 14px;
    padding: 24px;
    height: min-content;
}
.portfolio__item:nth-child(2) {
    margin-top: 90px;
}
.portfolio__item:nth-child(3) {
    margin-top: 180px;
}

.info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.info-block_title {
    font-family: 'Open Sans' sans-serif;
    font-size: 60px;
    font-weight: 700;
    width: 58%;
    margin: 0;

}
.info-block__btn {
    color: white;
    border: none;
    border-radius: 5px;
    background: #5454D4;
    font-weight: 700;
    font-size: 21px;
    padding: 18px 48px;
    cursor: pointer;
}


footer {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

}

.footer__logo {
    width: 138px;
    height: 42px;

}

.footer__lIst {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 30%;
}

